@font-face{
    font-family: CodecProExtraBold;
    src: url("../fonts/CodecProExtraBold.ttf");
}

p, a, h1, h2 {
    font-family: CodecProExtraBold;
	color: #fff;
    margin-bottom: 0;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: #AE3FD7;
    inherits: false;
}

@property --myColor2 {
    syntax: '<color>';
    initial-value: #E23D89;
    inherits: false;
}

.button-link {
    text-decoration: none;
    text-align: center;
    width: 280px;
    height: auto;
    background-color: #AE3FD7; /* For browsers that do not support gradients */
    background: linear-gradient(to right, var(--myColor1), var(--myColor2));
    transition-property: --myColor1, --myColor2, color, background-color;
    transition-duration: 2s;
    transition-delay: 0s;
}

.button-link:hover {
    background-color: #E23D89; /* For browsers that do not support gradients */
    --myColor1: #E23D89;
    --myColor2: #AE3FD7;
    color: #000;
}
.hightlight {
    color: #9340ff;
    background-color: transparent;
}

.colored-text {
    color: #9340ff;
}

div {
    /* overflow: hidden; */
}

body{
    /* flex: 1 1 100vw; */
    /* display: flex; */
    /* flex-direction: column; */
    background:#101728;
    /* padding: 30px 160px 0 160px; */
}

header, nav, main, aside, footer, div {
    /* display: flex; */
    /* margin: 3px; */
    /* background: #a1a1a1; */
}

header {
    /* flex: 1 1 100vw; */
    /* flex-direction: row; */
    /* height: 100px; */
    /* justify-content: space-between; */
    /* margin-bottom: 70px; */
}

/* header div {
    flex: 1 1 100vw;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.logo-geolan {
    width: autp;
} */
/* header div img {
    max-width: 100px;
} */

/* main {
    flex: 1 1 100vw;
    height: calc(100vh - 112px);
    flex-direction: column;
}
.text-title {
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}
.text-title p {
    line-height: 50px;
    font-size: 40px;
}
.page {
    flex: 1 1 100vw;
    align-items: center;
    margin-bottom: 100px;
}
.text-button {
    height: 50%;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
}
.text-button p {
    word-wrap: break-word;
    font-size: 35px;
}

.text-button a {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    color: #0F1819;
}

main div img {
    max-width:100%;
    max-height:400px;
    width: auto;
    height: auto;
    border-radius: 10%;
}
.image-celular {
    justify-content: flex-end;
    align-items: center;
    flex-grow: 100;
    background-image: url('../assets/efeito.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

footer {
    flex: 1 1 100vw;
    height: 100px;
}
*/