@font-face{
    font-family: CodecProExtraBold;
    src: url("../fonts/CodecProExtraBold.ttf");
}

body{
    background:#101728;
}

.vh-personalized {
    height: 80vh!important
}

p, a, h1, h2 {
    font-family: CodecProExtraBold;
	color: #fff;
    margin-bottom: 0;
}

i {
	color: #fff;
}

@property --myColor1 {
    syntax: '<color>';
    initial-value: #AE3FD7;
    inherits: false;
}

@property --myColor2 {
    syntax: '<color>';
    initial-value: #E23D89;
    inherits: false;
}

.button-link {
    text-decoration: none;
    text-align: center;
    width: 280px;
    height: auto;
    background-color: #AE3FD7; /* For browsers that do not support gradients */
    background: linear-gradient(to right, var(--myColor1), var(--myColor2));
    transition-property: --myColor1, --myColor2, color, background-color;
    transition-duration: 900ms;
    transition-delay: 0s;
}

.button-link:hover {
    background-color: #E23D89; /* For browsers that do not support gradients */
    --myColor1: #E23D89;
    --myColor2: #AE3FD7;
    color: #000;
}
.hightlight {
    color: #9340ff;
    background-color: transparent;
}

.colored-text {
    color: #9340ff;
}

.w-30 {
    width: 30%!important;
}
.w-perso {
    width: 30%!important;
}
